In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient()

In [9]:
testdb = client.test

In [10]:
print(testdb.list_collection_names())

['employee']

In [137]:
employee = testdb.employee

In [26]:
employee.find_one()

{'_id': ObjectId('64769642d2772f2cc7b32233'),
 'Name': 'Sunil Rai',
 'Address': 'Scarborough',
 'Age': '11'}

In [27]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}

In [31]:
print(test.get_collection("employee").estimated_document_count())

13

In [33]:
for emp in employee.find({}, {"_id":0, "name":1, "address": 1}):
    print(emp)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}
{'name': 'Johny', 'address': 'Highway 37'}
{'name': 'Johna', 'address': 'Highway 37'}
{'name': 'Johne', 'address': 'Highway 37'}

In [37]:
myQuery = { "address": "Mountain 21"}
mydoc = employee.find(myQuery)

for emp in mydoc:
    print(emp)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [38]:
mySecondQuery = {"name": "amy"}
myseconddoc = employee.find(mySecondQuery)
for emp in myseconddoc:
    print(emp)

In [39]:
mySecondQuery = {"name": "Amy"}
myseconddoc = employee.find(mySecondQuery)
for emp in myseconddoc:
    print(emp)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}

In [43]:
myThirdQuery = {"address": {"$regex": "^Y"}}
mythirddoc = employee.find(myThirdQuery).limit(2)
for emp in mythirddoc:
    print(emp)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [52]:
myFourthQuery = {"$or":[{"address": {"$regex": "^Y"}}, {"address": {"$regex": "^S"}}]}
myfourthdoc = employee.find(myFourthQuery)
for emp in myfourthdoc:
    print(emp)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [66]:
myFifthQuery = {"$or":[{"address": {"$regex": "^S"}}, {"address": {"$regex": "^S"}}, {"address": {"$regex": r"\b\w*o\w*\b"}}]}
myfifthdoc = employee.find(myFifthQuery)
for emp in myfifthdoc:
    print(emp)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [80]:
mySixthQuery = {"$and":[{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}]}
mysixthdoc = employee.find(mySixthQuery)
for emp in mysixthdoc:
    print(emp)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [81]:
mySeventhQuery = {"$and":[{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$regex": "^N"}}]}
myseventhdoc = employee.find(mySeventhQuery)
for emp in myseventhdoc:
    print(emp)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [83]:
myEighthQuery = {"$and":[{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$ne": "Nicky"}}]}
myeighthdoc = employee.find(myEighthQuery)
for emp in myeighthdoc:
    print(emp)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [86]:
myNinththQuery = {"$and":[{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$ne": "Nancy"}}]}
myninthdoc = employee.find(myNinththQuery)
for emp in myninthdoc:
    print(emp)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

In [91]:
myTenthQuery = {"address": {"$gt": "S"}}
mytenthdoc = employee.find(myTenthQuery)
for emp in mytenthdoc:
    print(emp)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [93]:
myTenthQuery2 = {"address": {"$gt": "A"}}
mytenthdoc2 = employee.find(myTenthQuery2)
for emp in mytenthdoc2:
    print(emp)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}

In [96]:
mydoc = employee.find().sort("address")
for emp in mydoc:
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [97]:
mydoc = employee.find().sort("address", 1)
for emp in mydoc:
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [98]:
mydoc = employee.find().sort("address", -1)
for emp in mydoc:
    print(emp)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}

In [100]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}

In [101]:
myquery = {'address': 'Valley 345'}
newvalues = {"$set": {"address": "Canyon 123"}}

employee.update_one(myquery, newvalues)

In [102]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}

In [103]:
myquery = {'address': 'Highway 37'}
newvalues = {"$set": {"address": "Canyon 1379"}}

employee.update_one(myquery, newvalues)

In [104]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Canyon 1379'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Highway 37'}
{'_id': 11, 'name': 'Johna', 'address': 'Highway 37'}
{'_id': 12, 'name': 'Johne', 'address': 'Highway 37'}

In [105]:
myquery = {'address': 'Highway 37'}
newvalues = {"$set": {"address": "Canon 110"}}

employee.update_many(myquery, newvalues)

In [106]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Canyon 1379'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Johny', 'address': 'Canon 110'}
{'_id': 11, 'name': 'Johna', 'address': 'Canon 110'}
{'_id': 12, 'name': 'Johne', 'address': 'Canon 110'}

In [112]:
myquery = {'address': 'Canon 110'}
newvalues = {"$set": {"address": "1 Flora Drive", "name": "Sunil"}}

result = employee.update_many(myquery, newvalues)

print(result.modified_count, "documents updated")

0 documents updated

In [111]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 1, 'name': 'John', 'address': 'Canyon 1379'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 10, 'name': 'Sunil', 'address': '1 Flora Drive'}
{'_id': 11, 'name': 'Sunil', 'address': '1 Flora Drive'}
{'_id': 12, 'name': 'Sunil', 'address': '1 Flora Drive'}

In [115]:
myquery = {'address': 'Younge Ave. 123'}

result = employee.delete_one(myquery)

print(result.deleted_count, "documents updated")

1 documents updated

In [116]:
myquery = {'address': '1 Flora Drive'}

result = employee.delete_many(myquery)

print(result.deleted_count, "documents updated")

3 documents updated

In [117]:
myquery = {'address': {"$regex":"^Y"}}

result = employee.delete_many(myquery)

print(result.deleted_count, "documents updated")

2 documents updated

In [126]:
result = employee.update_many({}, {"$unset":{"address": ""}})

In [129]:
for emp in employee.find():
    print(emp)

{'_id': ObjectId('64769642d2772f2cc7b32233'), 'Name': 'Sunil Rai', 'Address': 'Scarborough', 'Age': '11'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 9, 'name': 'Viola'}

In [132]:
result = employee.delete_one({"Name":{"$regex": "^S"}})

In [133]:
for emp in employee.find():
    print(emp)

{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 9, 'name': 'Viola'}

In [134]:
result = employee.delete_many({})
print(result.deleted_count, "documents updated")

5 documents updated

In [136]:
for emp in employee.find():
    print(emp)

In [139]:
print(testdb.list_collection_names())

['employee']

In [140]:
employee.drop()

In [141]:
print(testdb.list_collection_names())

[]